
.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

li.col-md-8{
  height: 40px;
  margin: 11px 0;
}

.logout {
  padding-left: 0;
}

.navbar {
  height: 51px;
}

.nav.navbar-nav {
  width: 45%;
}

.nav.navbar-right {
  margin: 5px 0;
}

.nav.navbar-right li {

  .btn {
    color: #fff !important;
  }

  .btn-danger:hover {
    background-color: darken(#d9534f, 20%) !important;
  }

}